* {
    box-sizing: border-box;
    margin: 0;
}

:root {
    font-size: 62.5%;
    background-color: beige;
}

.container-1 {
    display: flex;
}

.container-1 .box {
    display: flex;
    align-items: center;
    justify-content: center;
}


h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 3.5rem;
}

